.profile__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile__features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.profile__features-heading h1{
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height:45px;
}

.profile__features-heading p{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;
}

.profile__feature-container{
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.project__possibility-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    margin-top: 1rem;
}

.project__possibility-image img{
    width: 100%;
    height: 100%;
}
